@using System.Linq;
@using Lab00_AndresVeliz.Herramientas;
@model IEnumerable<Lab00_AndresVeliz.Models.ClienteModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Pagina Principal</h2>
<p>Se construye una plataforma como herramienta para una empresa 
    dedicada al telemercadeo. Luego de un analisis de las necesidades de la 
    empresa se toma la decisión de crear un sitema web utilizando MVC
    para poder administrar la información de los clientes.
    </p>